{% load static %}
<section class="module pt-0 pb-0" id="about">
    {% if info.image %}
        <div class="row position-relative m-0">
            {% with info.image.url as img %}
                <div class="col-xs-12 col-md-6 side-image" data-background="{{img}}"></div>
            {% endwith %}
            <div class="col-xs-12 col-md-6 col-md-offset-6 side-image-text">
                <div class="row">
                <div class="col-sm-12">
                    <h2 class="module-title font-alt align-left">{{info.title}}</h2>
                    <div class="module-subtitle font-serif align-left">{{info.subtitle}}.</div>
                    {{info.content|safe}}
                </div>
                </div>
            </div>
        </div>
        {% else %}
        <hr class="divider-w">
        <div class="row" style="margin-top: 3rem;margin-bottom: 2rem;">
            <div class="col-sm-6 col-sm-offset-3">
                {% if info.title %}
            <h2 class="module-title font-alt">{{ info.title }}</h2>
            {% endif %}
            {% if info.subtitle %}
                <div class="module-subtitle font-serif">{{ info.subtitle }}.</div>
            {% endif %}
            {% if info.content %}
                <div class="module-subtitle">{{ info.content|safe }}</div>
            {% endif %}
            </div>
        </div>
        <hr class="divider-w">
        {% endif %}
  
  </section>