<section class="module" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">
            <div class="alert alert-success" role="alert">
               <strong>El mensaje ha sido enviado con éxito</strong> 
              </div>
          </h2>
          <div class="module-subtitle font-serif"></div>
        </div>
      </div>
      <div class="row">
        
        <div class="col-sm-6 col-sm-offset-3">
            <p>
                <a href="{{ main_url }}">
                <button class="btn btn-success btn-circle btn-block" type="button">
                        Volver al inicio
                    </button>
                </a>
              </p>
          <div class="ajax-response font-alt" id="contactFormResponse"></div>
        </div>
      </div>
    </div>
  </section>