<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
            background-color: #f9f9f9;
            padding: 20px;
        }
        h1 {
            color: #333;
            font-size: 24px;
            font-weight: 600;
        }
        p {
            padding-left: 10px;
            color: #333;
            font-size: 18px;
            font-weight: 400;
        }
    </style>
</head>
<body>
    <h1>Gracias por tu interés en registrarte en nuestro newsletter</h1>
    <p>Ingresa el siguiente token: <strong>{{ token }}</strong> para confirmar que deseas recibir información relevante de nuestro sitio web</p>
    
</body>
</html>