<div class="main">
    <section class="module-small">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8 col-sm-offset-2">
            <div class="post">
              <div class="post-thumbnail"><img src="{{media_url}}{{servicio.image}}" alt="Blog Featured Image"/></div>
              <div class="post-header font-alt">
                <h1 class="post-title">{{ servicio.title }}</h1>
                
              </div>
              <div class="post-entry">
                {{ servicio.description|safe }}
              </div>
            </div>
            <div class="container">
              <div class="row">

                
                <a class="btn btn-success btn-circle col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1" target="_blank" href="https://api.whatsapp.com/send/?phone={{ whatsapp }}&text={{ whatsapp_text }}&type=phone_number">Contáctanos</a>
                <span class="col-sm-4"></span>
                <a class="btn btn-g btn-circle col-sm-2 col-sm-offset-0 col-xs-10 col-xs-offset-1 mt-xs-10"  href="{% url 'service_app:servicio' %}">Volver</a>
              </div>
             
            </div>
          </div>
        </div>

    </div>
</section>
  
    
  </div>