<section class="module" style="padding-top: 0;">
    <div class="container">
      <ul class="works-grid works-grid-3 works-grid-gut works-hover-d" id="works-grid">
        {% for servicio in services %}            
            <li class="work-item">
                <a href="{% url 'service_app:servicio_detail' servicio.slug %}">
                    <div class="work-image"><img src="{{ media_url }}{{ servicio.image }}" alt="Portfolio Item"/></div>
                    <div class="work-caption font-alt">
                    <h3 class="work-title">{{ servicio.title }}</h3>
                    <div class="work-descr">{{ servicio.summary }}</div>
                    </div>
                </a>
            </li>
        {% endfor %}
      </ul>
        <a target="_blank" class="btn btn-g btn-circle col-sm-2 col-sm-offset-5 mt-40 col-xs-10 col-xs-offset-1" href="https://api.whatsapp.com/send/?phone={{ whatsapp }}&text=hola%2C%20quisiera%20preguntar%20por%20un%20servicio&type=phone_number">Contáctanos</a>
    </div>
  </section>